<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                Our <span>Services</span>
            </h2>
            <p>
                A deep dive into what we do
            </p>
        </div>
    </div>
</section>

<!-- end about section -->




<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d640094.3688162226!2d0.08222826151070267!3d51.19385887125312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a815e2b18297%3A0x9251e76476201559!2sKent!5e0!3m2!1sen!2suk!4v1744842384497!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  