<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                Contact <span>Us</span>
            </h2>
            <p>
                We are just a call and mail away from you.
            </p>
        </div>
    </div>
</section>

<!-- end about section -->

<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Contact <span>Us</span>

                </h2>

                <p class="mt-4">
                    We are available 24/7. You can reach us via email or phone. We will get back to you as soon as
                    possible. We are here to help you with any questions or concerns you may have. We look forward to
                    hearing from you.
                </p>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 ">
                    <!-- <div class="contact-info">
                        <h4>
                            Address
                        </h4>
                        <div class="contact_link_box">
                            <a>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Kent, England, UK.
                                </span>
                            </a>
                            <a>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +44-77-8020-9329
                                </span>
                            </a>
                            <a>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    info&#64;codysus.co.uk
                                </span>
                            </a>
                        </div>
                    </div> -->



                    <div *ngIf="isContactFormSubmitted">
                        Thank you for reaching out! Your message has been successfully sent. I'll get back to you as
                        soon as I can.
                    </div>
                    <form *ngIf="!isContactFormSubmitted" name="contact" [formGroup]="contactForm" method="POST"
                        (ngSubmit)="onSubmit($event)" netlify>
                        <!-- This input field is very important to add, at least when we submit the form, making sure Netlify can receive the submission  -->
                        <input type="hidden" name="form-name" value="contact" />
                        <label for="name">Name</label>
                        <div *ngIf="name && name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                            <small *ngIf="name.errors?.['required']">Name is required</small>
                        </div>
                        <input id="name" type="text" formControlName="name" required />

                        <label for="email">Email</label>
                        <div *ngIf="email && email.invalid && (email.dirty || email.touched)"
                            class="alert alert-danger">
                            <small *ngIf="email.errors?.['required']">Email is required</small>
                            <small *ngIf="email.errors?.['email']">Enter a valid email address</small>
                        </div>
                        <input id="email" type="email" formControlName="email" required />

                        <label for="body">Message</label>
                        <div *ngIf="body && body.invalid && (body.dirty || body.touched)" class="alert alert-danger">
                            <small *ngIf="body.errors?.['required']">Message is required</small>
                        </div>
                        <textarea id="body" type="text" rows="4" cols="50" formControlName="body" required></textarea>
                        <button type="submit" [disabled]="!contactForm.valid">Send message</button>
                    </form>






                </div>

                <div class="col-md-6 ">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d640094.3688162226!2d0.08222826151070267!3d51.19385887125312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a815e2b18297%3A0x9251e76476201559!2sKent!5e0!3m2!1sen!2suk!4v1744842384497!5m2!1sen!2suk"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end service section -->