<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                Who we <span>are</span>
            </h2>
            <p>
                Learn about our story, mission, vision and our strategic approach to technology and education.
            </p>
        </div>
    </div>
</section>

<!-- end about section -->



<!-- service section -->

<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    Hear us <span>out</span>
                </h2>
                <p>
                    We are
                    a team of passionate educators, developers, and consultants dedicated to empowering individuals and
                    businesses through technology. We believe in the transformative power of education and technology,
                    and
                    we are committed to providing high-quality, accessible learning experiences that equip our students
                    with
                    the skills they need to succeed in today’s digital world. We are also committed to helping
                    businesses
                    leverage technology to drive innovation and growth.
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="box ">
                        <!-- <div class="img-box">
                            <img src="assets/images/s2.png" alt="">
                        </div> -->
                        <div class="detail-box">
                            <h5>
                                Our Mission
                            </h5>
                            <p>
                                To empower individuals and businesses with future-ready digital skills and smart
                                technology solutions — through education, innovation, and collaboration. We are
                                committed to providing high-quality, accessible learning experiences that equip our
                                students with the skills they need to succeed in today’s digital world. We are also
                                committed to helping businesses leverage technology to drive innovation and growth.
                            </p>
                            <!-- <a href="">
                                Read More
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <!-- <div class="img-box">
                            <img src="assets/images/s3.png" alt="">
                        </div> -->
                        <div class="detail-box">
                            <h5>
                                Our Vision
                            </h5>
                            <p>
                                To be a leading force in shaping a tech-driven world where anyone, regardless of age or
                                background, can learn, build, and thrive. We envision a future where technology is
                                accessible to all, empowering individuals and businesses to innovate and succeed in an
                                ever-evolving digital landscape. We aim to be the go-to partner for anyone looking to
                                enhance their skills, transform their business, or embrace the future of technology.
                            </p>
                            <!-- <a href="">
                                Read More
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <!-- <div class="img-box">
                            <img src="assets/images/s1.png" alt="">
                        </div> -->
                        <div class="detail-box">
                            <h5>
                                Our Approach
                            </h5>
                            <p>
                                Our approach is people-first. We tailor every service and course to meet
                                your unique goals. We believe in hands-on learning, working on
                                real-world projects, not just theory. With end-to-end support, we guide you from
                                learning to implementation, combining education, development, and consulting in one
                                seamless experience. We're innovation-driven, always staying ahead of the curve with
                                cutting-edge tools, technologies, and techniques.
                            </p>
                            <!-- <a href="">
                                Read More
                            </a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div> -->
        </div>
    </div>
</section>

<!-- end service section -->


<!-- timeline section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="heading_container heading_center">
            <h2>
                Our <span>Story</span>
            </h2>
            <p>
                A Timeline of Innovation & Impact
            </p>
        </div>
        <div class="row">

            <div class="timeline">

                <h2 class="timeline__item timeline__item--year">2018</h2>

                <div class="timeline__item">
                    <h3 class="timeline__title">– The Journey Begins</h3>
                    <p class="timeline__blurb">Stephen starts his tech career at Union Systems, building large-scale
                        fintech platforms used across Africa.

                        "This is where I fell in love with using code to solve real-world problems."</p>
                </div>

                <h2 class="timeline__item timeline__item--year">2022</h2>

                <div class="timeline__item">
                    <h3 class="timeline__title">– Leading Digital Transformation</h3>
                    <p class="timeline__blurb">As a software engineer at Cellulant, Stephen leads the front-end
                        development of a digital payments solution deployed in 35+ countries, impacting millions of
                        users.</p>
                </div>

                <div class="timeline__item">
                    <h3 class="timeline__title">– Making community impacts</h3>
                    <p class="timeline__blurb">He actively contributed to GDG Lagos events and led the creation of
                        mentorship cohorts, successfully tutoring and guiding over 50 students per cohort through
                        hands-on learning and real-world projects.</p>
                </div>

                <h2 class="timeline__item timeline__item--year">2023 </h2>

                <div class="timeline__item">
                    <h3 class="timeline__title">– Codysus Takes Shape</h3>
                    <p class="timeline__blurb">While pursuing his Master’s in Artificial Intelligence in the UK, Stephen
                        begins teaching coding to kids, mentoring developers, and launching impactful tools like AI
                        chatbots and sentiment analysis platforms.</p>
                </div>

                <div class="timeline__item">
                    <h3 class="timeline__title">– Codysus Is Born</h3>
                    <p class="timeline__blurb">Fueled by a passion to empower through tech, Codysus launches — blending
                        high-quality training with real-world consulting to serve individuals, startups, and
                        organizations. Our journey began with a simple idea: to make world-class tech education and
                        solutions accessible to everyone, regardless of age or background.</p>
                </div>

                <h2 class="timeline__item timeline__item--year">2024 </h2>

                <div class="timeline__item">
                    <h3 class="timeline__title">– Empowering Through Innovation</h3>
                    <p class="timeline__blurb">Codysus rolls out programs for all ages: 1:1 mentoring, group sessions,
                        corporate training, and AI/web consulting. From teaching kids and tech enthuthiats to helping
                        companies an individuals harness AI, and create a digital presence,
                </div>

                <div class="timeline__item">
                    <h3 class="timeline__title">– Empowering Through Collaboration</h3>
                    <p class="timeline__blurb">Codysus presense has been felt in the tech community, with Stephen
                        leading workshops and speaking at conferences, sharing insights on AI, web development, and the
                        future of technology.We’ve consulted with over 20 companies on AI integration, built custom
                        websites for more than 50 clients, and taught coding, machine learning and AI to hundreds of
                        learners—ranging from kids
                        and beginners to professionals and corporate teams.</p>
                </div>

                <h2 class="timeline__item timeline__item--year">Present</h2>

                <div class="timeline__item">
                    <h3 class="timeline__title">– Making waves through impacts</h3>
                    <p class="timeline__blurb">Today, Codysus is more than a training company — it’s a movement. We
                        serve individuals, startups, and enterprises through 1:1 coaching, group classes, corporate
                        training, and expert consulting. We teach people (different age groups) to code, help
                        professionals upskill, and guide
                        organizations in leveraging AI, data, and modern web development to drive growth.

                        Our story is still being written — and we’d love for you to be part of it.</p>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- end timeline section -->

<!-- techctack section -->

<section class="why_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Check out Our <span>Tech Stack</span>
            </h2>

            <p>
                We teach languages, IDE and frameworks that are in high demand in the industry. Our curriculum is
                designed to
                be hands-on and practical, ensuring that you gain real-world experience and skills that are relevant to
                today’s job market. We also stay up-to-date with the latest trends and technologies, so you can be sure
                you’re learning the most current and in-demand skills.
            <p>
        </div>
        <div class="why_container">
            <div class="box" *ngFor="let image of techStackImages">
                <div class="img-box">
                    <img [src]="'assets/images/techstack/' + image" alt="{{ image }}" class="hvr-bob">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end techctack section -->


<!-- slider section -->

<section class="why_section">
    <div class="container">

        <div class="heading_container heading_center">
            <h2>
                Brands we've <span>impacted</span>
            </h2>
        </div>

        <div class="slider mt-4">
            <div class="slide-track">
                <div class="slide" *ngFor="let image of clientImages">
                    <img [src]="'assets/images/clients-img/' + image" alt="{{ image }}">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end slider section -->