header {
    background: linear-gradient(130deg, #231a6f, #0f054c);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.active {
    color: #00bbf0;
    font-weight: bold;
  }

  li{
    cursor: pointer;
  }