<div>

  <div class="hero_area">

    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="assets/images/hero-bg.png" alt="">
      </div>
    </div>

    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      CODYSUS – Shaping the Future of Technology
                    </h1>
                    <p>
                      Empowering individuals and businesses with world-class coding, AI, data science, and web
                      development solutions. Let's innovate together and drive success in the digital world.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="assets/images/slider-img.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      CODYSUS – Shaping the Future of Technology
                    </h1>
                    <p>
                      we provide cutting-edge education and consulting services in coding, AI, data science, and web
                      development. Whether you’re looking to sharpen your skills, build a sophisticated solution, or
                      receive expert consulting, we are here to help you succeed.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="assets/images/experience-img-removebg-preview.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="detail-box">
                    <h1>
                      CODYSUS – Shaping the Future of Technology
                    </h1>
                    <p>
                      Join us today and unlock your full potential. Our expert team is committed to delivering
                      high-quality, customized learning experiences and solutions tailored to your needs.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="assets/images/freelance-img-removebg-preview.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            We offer a diverse range of services to help you navigate and excel in today’s rapidly evolving tech
            landscape. Whether you are a business, a startup, or an individual looking to upskill, we have the right
            solution for you. We also teach kids coding and programming, empowering the next generation of innovators
            and problem solvers.
          </p>
        </div>
        <div class="row">
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s2.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Coding & Programming Courses
                </h5>
                <p>
                  Unlock the power of coding with our hands-on, practical coding courses. From beginner to advanced, our
                  interactive sessions cover various programming courses such as Python, AI, machine learning,
                  JavaScript, Java,
                  and more. Start building your skills today and create real-world applications!
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Web and AI Development
                </h5>
                <p>
                  Create stunning, responsivive and functional websites with our web development services. Our experts
                  specialize in
                  front-end and back-end development, AI libraries aand LLMs, including the latest frameworks and
                  technologies, ensuring your
                  website is fast, secure, and visually appealing.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="box ">
              <div class="img-box">
                <img src="assets/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Business Consulting
                </h5>
                <p>
                  Our consulting services help businesses grow through technology-driven solutions. From optimizing
                  workflows and integrating AI to building custom applications, we collaborate with your team to deliver
                  practical and
                  scalable solutions that align with your business goals.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <!-- <p>
          Magni quod blanditiis non minus sed aut voluptatum illum quisquam aspernatur ullam vel beatae rerum ipsum
          voluptatibus
        </p> -->
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/about-img.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are <strong>Codysus</strong>
            </h3>
            <p>
              At <strong>Codysus</strong>, we are a passionate team of educators, developers, and consultants dedicated
              to
              transforming how people and businesses approach technology. With a commitment to excellence and
              innovation, we have been at the forefront of empowering individuals with the skills and knowledge needed
              to excel in coding, AI, data science, and web development. </p>
            <p>
              Our team brings a wealth of experience in technology and business strategy, and we pride ourselves on
              delivering personalized, high-quality education and consulting services. Our mission is simple: to help
              you achieve success in the ever-evolving world of technology.
            </p>
            <p>
              <strong>Our Values</strong>:
            </p>

            <ul>
              <li><strong>Innovation</strong>: We embrace new ideas, staying ahead of industry trends.</li>
              <li><strong>Quality</strong>: We provide only the highest standard of services and education.</li>
              <li><strong>Collaboration</strong>: We work closely with clients to ensure the best outcomes.</li>
              <li><strong>Growth</strong>: We believe in continuous learning and development for both our clients and
                our team.</li>
            </ul>


            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- why section -->

  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Why Choose <span>Us</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w1.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Expert-Led Courses & Training
            </h5>
            <p>
              Our instructors are industry professionals with years of experience, ensuring you get practical,
              real-world knowledge.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w2.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Tailored Learning Paths
            </h5>
            <p>
              We offer customized learning plans based on your goals, whether you're upskilling, transitioning careers,
              or expanding your team's expertise.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w3.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Hands-On Learning
            </h5>
            <p>
              We focus on interactive, project-based learning so you can apply what you learn immediately.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="assets/images/w4.png" alt="">
          </div>
          <div class="detail-box">
            <h5>
              End-to-End Solutions
            </h5>
            <p>
              We don’t just teach; we build and consult. From coding courses to business strategy consulting, we provide
              comprehensive services to meet your needs.
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end why section -->

  <!-- team section -->
  <section class="team_section layout_padding about_section">
    <div class="container-fluid">
      <div class="heading_container heading_center">
        <h2 class="">
          Meet The <span> Founder</span>
        </h2>
      </div>

      <div class="team_container">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-2 m-auto">
              <div class="detail-box">
                <h3>
                  <strong>Stephen Toriola</strong>
                </h3>
                <p>
                  He is a visionary software engineer and AI specialist with over six years of experience driving
                  innovation across banking, fintech, health tech, and gaming sectors. Passionate about transforming
                  complex challenges into intelligent, scalable solutions, Stephen has led high-impact projects
                  leveraging cutting-edge technologies such as Large Language Models, Retrieval-Augmented Generation,
                  and full-stack web development.</p>
                <p>
                  From architecting enterprise-grade payment systems used across 35+ African countries to designing
                  intelligent chatbots and sentiment analysis tools deployed on cloud platforms, Stephen consistently
                  blends technical depth with strategic foresight. He’s also a dedicated mentor, community leader, and
                  educator, actively shaping the future of tech through initiatives like the Tech Explore Series and
                  Google Developer Group Wolverhampton, UK.
                </p>

                <p>
                  Stephen’s leadership is rooted in creativity, problem-solving, and a relentless drive to build
                  technology that truly empowers people and businesses.
                </p>



                <a href="">
                  Read More
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="box mt-0">
                <div class="img-box">
                  <img src="assets/images/stephen-1.jpg" class="img1" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Stephen Toriola
                  </h5>
                  <h6>
                    Software and AI Engineer.
                  </h6>
                </div>
                <div class="social_box">
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end team section -->


  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          Hear from our <span>Customers</span>
        </h2>
      </div>

      <div id="customCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner client_owl-carousel">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <div class="img-box">
                      <img src="assets/images/client1.jpg" alt="" class="box-img">
                    </div>
                    <div class="detail-box">
                      <div class="client_id">
                        <div class="client_info">
                          <h6>
                            LusDen
                          </h6>
                          <p>
                            magna aliqua. Ut
                          </p>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box">
                    <div class="img-box">
                      <img src="assets/images/client1.jpg" alt="" class="box-img">
                    </div>
                    <div class="detail-box">
                      <div class="client_id">
                        <div class="client_info">
                          <h6>
                            LusDen
                          </h6>
                          <p>
                            magna aliqua. Ut
                          </p>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="box">
                    <div class="img-box">
                      <img src="assets/images/client1.jpg" alt="" class="box-img">
                    </div>
                    <div class="detail-box">
                      <div class="client_id">
                        <div class="client_info">
                          <h6>
                            LusDen
                          </h6>
                          <p>
                            magna aliqua. Ut
                          </p>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="box">
                    <div class="img-box">
                      <img src="assets/images/client1.jpg" alt="" class="box-img">
                    </div>
                    <div class="detail-box">
                      <div class="client_id">
                        <div class="client_info">
                          <h6>
                            LusDen
                          </h6>
                          <p>
                            magna aliqua. Ut
                          </p>
                        </div>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </div>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel2" data-slide-to="1"></li>
        </ol>
      </div>

    </div>
  </section>

  <!-- end client section -->

</div>