/**/
/* main styles */
/**/
.pcss3t {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 0;
    text-align: left;
}

.pcss3t>input {
    position: absolute;
    left: -9999px;
}

.pcss3t>label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
    -o-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.pcss3t>label i {
    display: block;
    float: left;
    margin: 0px 15px 0 0px;
    padding: 0;
    border: 0;
    outline: none;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 17px;
}

.pcss3t>input:checked+label {
    cursor: default;
}

.pcss3t>ul {
    list-style: none;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 13px;
}

.pcss3t>ul>li {
    position: absolute;
    width: 100%;
    overflow: auto;
    padding: 30px 40px 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.pcss3t>.tab-content-first:checked~ul .tab-content-first,
.pcss3t>.tab-content-2:checked~ul .tab-content-2,
.pcss3t>.tab-content-3:checked~ul .tab-content-3,
.pcss3t>.tab-content-4:checked~ul .tab-content-4,
.pcss3t>.tab-content-5:checked~ul .tab-content-5,
.pcss3t>.tab-content-6:checked~ul .tab-content-6,
.pcss3t>.tab-content-7:checked~ul .tab-content-7,
.pcss3t>.tab-content-8:checked~ul .tab-content-8,
.pcss3t>.tab-content-9:checked~ul .tab-content-9,
.pcss3t>.tab-content-last:checked~ul .tab-content-last {
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-transform: rotate(0deg);
}

.pcss3t .typography {
    color: #666;
}


/**/
/* animation effects */
/**/
.pcss3t-effect-scale>ul>li {
    -webkit-transform: scale(0.1, 0.1);
}

.pcss3t-effect-rotate>ul>li {
    -webkit-transform: rotate(180deg);
}

.pcss3t-effect-slide-top>ul>li {
    top: -40px;
}

.pcss3t-effect-slide-right>ul>li {
    left: 80px;
}

.pcss3t-effect-slide-bottom>ul>li {
    top: 40px;
}

.pcss3t-effect-slide-left>ul>li {
    left: -80px;
}



/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
@media screen and (max-width: 980px) {}

/**/
/* phone */
/**/
@media screen and (max-width: 767px) {
    .pcss3t>label {
        display: block;
    }

    .pcss3t>.right {
        float: none;
    }
}

/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
.pcss3t>label {
    padding: 0 20px;
    background: #e5e5e5;
    font-size: 14px;
    line-height: 49px;
}

.pcss3t>label:hover {
    background: #f2f2f2;
}

.pcss3t>input:checked+label {
    background: #fff;
}

.pcss3t>ul {
    background: #fff;
    text-align: left;
}

.pcss3t-steps>label:hover {
    background: #e5e5e5;
}


/**/
/* theme 3 */
/**/
.pcss3t-theme-3 {
    background: rgba(0, 0, 0, 0.8);
}

.pcss3t-theme-3>label {
    background: none;
    border-right: 1px dotted rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #fff;
    opacity: 0.6;
}

.pcss3t-theme-3>label:hover {
    background: none;
    color: #00bbf0;
    opacity: 0.8;
}

.pcss3t-theme-3>input:checked+label {
    background: #00bbf0;
    color: #000;
    opacity: 1;
}

.pcss3t-theme-3>ul {
    border-top: 4px solid #00bbf0;
    border-bottom: 4px solid #00bbf0;
    border-radius: 0;
    box-shadow: none;
}

/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
.pcss3t>ul,
.pcss3t>ul>li {
    height: 370px;
}

.about_section ul>li::before {
    content: none
}